@import "tailwindcss";

@theme {
  --color-primary-canvas: #0E2F2A;
  --color-secondary-ivory: #F3EFE6;
  --color-typography-gold: #D4AF37;

  --color-secondary-surface: #13453B;
  --color-typography-sacred: #E6C97A;
  --color-typography-muted: #C9D6CF;

  --color-accent-divider: #C9A24D;
  --color-accent-icon: #7FAF8A;

  --font-cinzel: var(--font-cinzel);
  --font-montserrat: var(--font-montserrat);

  --font-serif: var(--font-cinzel);
  --font-sans: var(--font-montserrat);
}

body {
  background-color: var(--color-primary-canvas);
  color: var(--color-secondary-ivory);
  font-family: var(--font-montserrat), sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cinzel), serif;
  color: var(--color-typography-gold);
}
