@import "tailwindcss";

@theme {
  --color-primary-canvas: #022C22;
  --color-typography-gold: #F4CF57;
  --color-secondary-ivory: #FDFCF0;

  --font-cinzel: var(--font-cinzel);
  --font-montserrat: var(--font-montserrat);
}

body {
  background-color: var(--color-primary-canvas);
  color: var(--color-secondary-ivory);
  font-family: var(--font-montserrat), sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cinzel), serif;
  color: var(--color-typography-gold);
}
